{% extends 'main.html' %}

{% load static %}

{% block title %} Mapiss | Acceuil {% endblock title %}

{% block content %}
    <main class="overview-1">
      <!-- BARREE DE RECHERHCE ET FILTRE -->
      <section class="search">
        <form method="GET">
         {% csrf_token %} 
          <input type="search" placeholder="Rechercher une maison exemple : Villa de Luxe " name="titre" />
          <input type="number" placeholder="Votre budget" name="prix" />
          <input type="search" placeholder="localite" name="localite" />
           {% comment %} <select name="">
            <option value="">Localité</option>
            <option value="Location">Abidjan</option>
            <option value="Vente">Yamoussokro</option>
          </select> {% endcomment %}
          <select name="type">
            <option value="" >Tout Type</option>
            <option value="location">Location</option>
            <option value="vente">Vente</option>
          </select>

          {% comment %} {{annonceFiltre.form}} {% endcomment %}

          <button type="submit">Rechercher</button>

        </form>
      </section>
      <!-- CARDS TITLES -->
      <h3>Annonces</h3>
      <!-- CARD CONTAINER -->
      <section class="container">
        <!-- CARD -->
          {% for annonce in annonces %}
          <div class="card">
            <div class="card-img">
              <img src={{annonce.imageMaison.url}} alt="house-image" />
            </div>
            <div class="card-title">
              <p>{{annonce.titre}}</p>
            </div>
            <div class="card-info">
              <p><span>Localité: </span>{{annonce.localite}} </p>
              <p><span>Nombre pièces: </span>{{annonce.nbrpiece}}</p>
              <p><span>Superficie: </span>{{annonce.superficie}} m²</p>
              <p>
                {% if annonce.meuble == True %} 
                <span>Meublé: </span>✅ 
                {% else %}
                <span>Meublé: </span>❌
                {% endif %}
              </p>
            </div>
            <div class="card-sub">
              <div class="card-sub_info">
                <p><span>Prix: </span>{{annonce.prix}} FCFA</p>
                <p><span>Note: </span>4.2/5</p>
              </div>
              <div class="card-sub_btn">
                <a href="/annonce/{{annonce.id}}"><button>Savoir plus</button></a>
              </div>
                {% if annonce.type == "vente" %} 
                  <div class="card-type">
                    <p>{{annonce.type}}</p>
                  </div>
                {% elif annonce.type == "location" %}
                  <div class="card-type">
                    <p id="location">{{annonce.type}}</p>
                  </div>
                {% endif %}
            </div>
          </div>
        {% endfor %}
       
      </section>
      <section class="pagination">
        <!-- {% if page.has_previous %}
        <a href="#"><button><i class="fa-solid fa-arrow-left-long"></i> retour </button></a>
        {% endif  %}

        {% if page.has_next %}
        <a href="#"><button>Suivant <i class="fa-solid fa-arrow-right-long"></i></button></a>
        {% endif %} -->

        {% for i in paginator.page_range  %}

          <a href="?page={{i}}"><button> page {{i}} </button></a>

        {% endfor %}

      </section>

    </main>

{% endblock content %}