{% extends 'main.html' %}

{% load static %}

{% block title %} Mapiss | Favoris {% endblock title %}

{% block content %}
    <main class="overview-1">
      <!-- BARREE DE RECHERHCE ET FILTRE -->
      <!-- <section class="search">
        <form action="#"> -->
          <!-- FORM PART 1 -->
          <!-- BARRE DE RECHERCHE -->
          <!-- <input type="search" placeholder="Rechercher un favoris" name="#" /> -->
          <!-- LE BUDGET QUE DISPOSE LE CLIENT   -->
          <!-- <button type="submit">Rechercher</button> -->
        <!-- </form> -->
      </section>
      <!-- TITRE GLOBAL DES CARTES ANNONCES FAVORIS -->
      <h3>Mes favoris</h3>
      {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
      {% endif %}
      <!-- SECTION DES CARTES ANNONCES -->
      <section class="container">
        <!-- CARD -->
        {% for favoris in favoris %}
          <div class="card">
            <!-- IMAGE DE LA CARTE ANNONCE -->
            <div class="card-img">
              <img src={{favoris.annonce.imageMaison.url}} alt="house-image" />
            </div>
            <!-- TITRE DE LA CARTE -->
            <div class="card-title">
              <p>{{favoris.annonce.titre}} </p>
            </div>
          <!-- INFORMATION DE LA CARTE -->
            <div class="card-info">
              <p><span>Localité: </span>{{favoris.annonce.localite}} </p>
              <p><span>Nombre pièces: </span>{{favoris.annonce.nbrpiece}}</p>
              <p><span>Superficie: </span>{{favoris.annonce.superficie}}m²</p>
              <p>
                {% if annonce.meuble == True %} 
                <span>Meublé: </span>✅ 
                {% else %}
                <span>Meublé: </span>❌
                {% endif %}
              </p>
            </div>
            <!-- INFORMATION SECONDAIRE -->
            <div class="card-sub">
              <div class="card-sub_info">
                <p><span>Prix: </span>{{favoris.annonce.prix}} FCFA</p>
                <p><span>Note: </span>4.2/5</p>
              </div>
              <!-- BOUTON DE L'ANNONCE POUR EN SAVOIR PLUS -->
              <div class="card-sub_btn">
                <a href="/annonce/{{favoris.annonce.id}}"><button>Savoir plus</button></a>
              </div>
              <div class="card-sub_btn">
                <a href="/action/supprimer/favoris/{{favoris.id}}" id="enlever-favoris"><button>Suppimer</button></a>
              </div>
              <!-- SPECIFICATION DU TYPE DE L'ANNONCE -->
              {% if favoris.annonce.type == "vente" %} 
                  <div class="card-type">
                    <p>{{favoris.annonce.type}}</p>
                  </div>
                {% elif favoris.annonce.type == "location" %}
                  <div class="card-type" >
                    <p id="location">{{favoris.annonce.type}}</p>
                  </div>
                {% endif %}
            </div>
          </div>
        {% endfor %}
        <!-- end -->
        <!-- CARD -->
        <!-- <div class="card">
          <div class="card-img">
            <img src="img/house-2.jpg" alt="house-image" />
          </div>
          <div class="card-title">
            <p>Villa Riviera 4</p>
          </div>
          <div class="card-info">
            <p><span>Localité: </span>Abidjan</p>
            <p><span>Nombre pièces: </span>7</p>
            <p><span>Superficie: </span>1000m²</p>
            <p><span>Meublé: </span>✅</p>
          </div>
          <div class="card-sub">
            <div class="card-sub_info"> -->
              <!-- PRIX -->
              <!-- <p><span>Prix: </span>200 Millions FCFA</p> -->
              <!-- NOTE -->
              <!-- <p><span>Note: </span>4.2/5</p> -->
            <!-- </div> -->
            <!-- BOUTON POUR EN SAVOIR PLUS SUR UNE ANNONCE -->
            <!-- <div class="card-sub_btn">
              <a href="#"><button>Savoir plus</button></a>
            </div>
            <div class="card-type">
              <p>VENTE</p>
            </div>
          </div>
        </div> -->
        <!-- end -->
        <!-- CARD -->
        <!-- <div class="card">
          <div class="card-img">
            <img src="img/house-3.jpg" alt="house-image" />
          </div>
          <div class="card-title">
            <p>Maison à Bingerville</p>
          </div>
          <div class="card-info">
            <p><span>Localité: </span>Abidjan</p>
            <p><span>Nombre pièces: </span>3</p>
            <p><span>Superficie: </span>200m²</p>
            <p><span>Meublé: </span>❌</p>
          </div>
          <div class="card-sub">
            <div class="card-sub_info">
              <p><span>Prix: </span>150 Milles FCFA</p>
              <p><span>Note: </span>4.0/5</p>
            </div>
            <div class="card-sub_btn">
              <a href="#"><button>Savoir plus</button></a>
            </div>
            <div class="card-type">
              <p>LOCATION</p>
            </div>
          </div>
        </div> -->
        <!-- end -->
        <!-- CARD -->
        <!-- <div class="card">
          <div class="card-img">
            <img src="img/house-3.jpg" alt="house-image" />
          </div>
          <div class="card-title">
            <p>Maison à Bingerville</p>
          </div>
          <div class="card-info">
            <p><span>Localité: </span>Abidjan</p>
            <p><span>Nombre pièces: </span>3</p>
            <p><span>Superficie: </span>200m²</p>
            <p><span>Meublé: </span>❌</p>
          </div>
          <div class="card-sub">
            <div class="card-sub_info">
              <p><span>Prix: </span>150 Milles FCFA</p>
              <p><span>Note: </span>4.0/5</p>
            </div>
            <div class="card-sub_btn">
              <a href="#"><button>Savoir plus</button></a>
            </div>
            <div class="card-type">
              <p>LOCATION</p>
            </div>
          </div>
        </div> -->
        <!-- end -->
        <!-- CARD -->
        <!-- <div class="card">
          <div class="card-img">
            <img src="img/house-3.jpg" alt="house-image" />
          </div>
          <div class="card-title">
            <p>Maison à Bingerville</p>
          </div>
          <div class="card-info">
            <p><span>Localité: </span>Abidjan</p>
            <p><span>Nombre pièces: </span>3</p>
            <p><span>Superficie: </span>200m²</p>
            <p><span>Meublé: </span>❌</p>
          </div>
          <div class="card-sub">
            <div class="card-sub_info">
              <p><span>Prix: </span>150 Milles FCFA</p>
              <p><span>Note: </span>4.0/5</p>
            </div>
            <div class="card-sub_btn">
              <a href="#"><button>Savoir plus</button></a>
            </div>
            <div class="card-type">
              <p>LOCATION</p>
            </div>
          </div>
        </div> -->
        <!-- end -->
      </section>
      <!-- <section class="pagination">
        <a href="#"
          ><button>
            <i class="fa-solid fa-arrow-left-long"></i> Page 1
          </button></a
        >
        <a href="#"
          ><button>Page 2 <i class="fa-solid fa-arrow-right-long"></i></button
        ></a>
      </section> -->
    </main>
{% endblock content %}
