{% extends 'main.html' %}

{% load static %}

{% block title %} Mapiss | Mes Annonces {% endblock title %}

{% block content %}
    <main class="my-announces">
      <!-- BOUTON POUR AJOUTER -->
      <div class="add">
        <a href="/annonce/addAnnonce/{{user.id}} "
          ><button>Nouvelle Annonce <i class="fa-solid fa-plus"></i></button
        ></a>
      </div>
      <!-- TITRE "MES ANNONCES" -->
      <div class="title">
        <h3>Mes Annonces</h3>
      </div>
      {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
      {% endif %}
      <!-- LISTE DES ANNONCES DE L'USER -->
      <div class="list">
        <!-- CARD -->
        {% for items in annonceAffiches %}
        <div class="card">
            <!-- IMAGE CARD -->
          <div class="img">
            <img src={{items.imageMaison.url}} alt="house-picture" />
          </div>
          <!-- INFO -->
          <div class="info">
            <p>{{items.localite}} </p>
            {% for data in reservationAnnonce %}
              {% if data.id == items.id %}

                {% if data.nbrReservation == 0 %}
                  <p> pas d'interessé </p>
                {% else %}
                  <p> {{data.nbrReservation}} interessé(s)</p>
                {% endif %}

              {% endif %}
            {% endfor %}
            <p>{{items.datePublication}}</p>
          </div>
          <!-- BOUTONS CARD -->
          <div class="btn">
            <a href="/annonce/updateAnnonce/{{items.id}}/{{user.id}}"><button class="first">Modifier</button></a>
            <a href="/action/supprimer/annonce/{{items.id}}"><button class="second">Suppimer</button></a>
          </div>
        </div>
        {% endfor %}
        </div>
      </div>
    </main>
{% endblock content %}