{% extends 'main.html' %}

{% load static %}

{% block title %} Mapiss | Mes Annonces {% endblock title %}

{% block content %}
    <main class="my-announces">
      <!-- TITRE "MES ANNONCES" -->
      <div class="title">
        <h3>Mes Reservations</h3>
      </div>
      {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
      {% endif %}
      <!-- LISTE DES ANNONCES DE L'USER -->
      <div class="list">
        <!-- CARD -->
        {% for items in reservationAffiches %}
        <div class="card">
            <!-- IMAGE CARD -->
          <div class="img">
            <img src={{items.annonce.imageMaison.url}} alt="house-picture" />
          </div>
          <!-- INFO -->
          <div class="info">
            <p>{{items.annonce.localite}} </p>
            <p>{{items.dateReservation}}</p>
            <p>{{items.annonce.prix}} FCFA </p>
            <p>{{items.annonce.client.numTéléphone}}</p>
          </div>
          <!-- BOUTONS CARD -->
          <div class="btn">
              <a href="/action/supprimer/reservation/{{items.id}}"><button class="second">Suppimer</button></a>
          </div>
        </div>
        {% endfor %}
      </div>
    </main>

{% endblock content %}