{% extends 'main.html' %}

{% load static %}

{% block title %} Mapiss | Acceuil {% endblock title %}

{% block content %}
    <main class="new-announce">
      <!-- TITRE -->
      <div class="title">
        <h3>Modifier l'Annonce</h3>
      </div>
      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
            {% endfor %}
        </ul>
      {% endif %}
      <!-- CONTAINER DE LA FORM POUR AJOUTER UNE NOUVELLER ANNONCE -->
      <div class="container">
        <!-- FORMULAIRE -->
        <form method="POST" action="/annonce/updateAnnonce/{{user_annonce.id}}/{{user.id}}" enctype="multipart/form-data">
          {% csrf_token %}
          <label>Titre</label>
          <input type="text" name="titre" id="" value="{{ user_annonce.titre }}"/>
          <label for="">Localisation</label>
          <input type="text" name="localite" id="" value="{{ user_annonce.localite }}" />
          <label for="">Type</label>
          <select name="type" id="" value="{{ user_annonce.type }}">
            <option value="vente">Vente</option>
            <option value="location">location</option>
          </select>
          <label for="">Nombre de pieces</label>
          <input type="number" name="nbrpiece" id="" value="{{ user_annonce.nbrpiece }}"/>
          <label for="">Superficie</label>
          <input type="number" name="superficie" id="" value="{{ user_annonce.superficie }}"/>
          <div>
            <label for="">Meuble(s)</label>
            <select name="meuble" id="" value="{{ user_annonce.meuble }}">
              <option value="True">Oui</option>
              <option value="False">Non</option>
            </select>
          </div>
          <label for="">Prix</label>
          <input type="number" name="prix" id="" value="{{ user_annonce.prix }}"/>
          <label for="">Details</label>
          <textarea style="resize: none" name="descriptionMaison">{{ user_annonce.descriptionMaison }} </textarea>
          <label for="">Image(s) / Panomarique(s)</label>
          <input type="file" name="imageMaison" multiple accept=".png, .jpeg" id="" value="{{ user_annonce.imageMaison.url }}"/>
          <button type="submit">Modifier l'annonce</button>
        </form>
      </div>
    </main>
{% endblock content %}