{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- FONT LINK -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- ICON -->
    <link
      rel="shortcut icon"
      href="img/logo-officiel-mapiss-white.svg"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- ICONS LINK -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- CSS FILE -->
    <link href="{% static 'css/index.css' %}" rel="stylesheet">
    <!-- TITLE -->
    <title>Mapiss | Inscription</title>
    <!-- IMPORT JS FILE -->
    <script defer src="index.js"></script>
  </head>
  <body>
    <main class="signup">
      <div class="container">
        <div class="container-box">
          <img src="{% static 'img/logo-officiel-mapiss-color.svg' %}" alt="logo" />
          <h3>Inscription</h3>
          {% if messages %}
                    <ul class="messages">
                        {% for message in messages %}
                            <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
                        {% endfor %}
                    </ul>
          {% endif %}
          <form method="POST" action="{% url 'inscription' %}">
            {% csrf_token %}
            <label>Nom & Prenoms</label>
            <input type="texte" name="name"/>
            <label>E-mail</label>
            <input type="email" name="email"/>
            <label>Telephone</label>
            <input type="tel" name="numTéléphone" />
            <label>Mot de passe</label>
            <input type="password" name="password"/>
            <label>Confirmer Mot de passe</label>
            <input type="password" name="password1"/>
            <label>Lieu d'habitation</label>
            <input type="texte" name="lieuHabitation"/>
            <button type="submit">S'inscrire</button>
          </form>
          <p>
            Vous avez deja un compte ? <a href=" {% url 'connexion' %} ">se connecter maintenant</a>
          </p>
        </div>
        <div class="container-illustration">
          <img src="{% static 'img/person-1.png' %}" alt="person-1" />
          <p>Faites nous confiances !</p>
        </div>
      </div>
      <div class="close">
        <a href="{% url 'annonces' %}"><i class="fa-solid fa-xmark"></i></a>
      </div>
    </main>
  </body>
</html>
