{% extends 'main.html' %}

{% load static %}

{% block title %} Mapiss | Annonce {% endblock title %}

{% block content %}

  {% if messages %}
      <ul class="messages">
          {% for message in messages %}
              <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
          {% endfor %}
      </ul>
  {% endif %}

    <!-- MAIN -->
    <main class="announce">
      <div class="announce-text">
        <h3>Annonce</h3>
      </div>
      <!-- ELEMENT -->
      <div class="announce-box">
        <!-- IMAGE & BOUTON QUI REDIRIGE VERS LA VISTE -->
        <div class="img">
          <img src={{annonce.imageMaison.url}} alt="house-picture" />
          <div class="visit">
            <p>Visitez la maison sans vous deplacer</p>
            <a href="/annonce/img/{{annonce.id}}"><button>Visite 360°</button></a>
          </div>
        </div>
        <!-- INFORMATIONS RELATIVES A L'ANNONCE -->
        <div class="info">
          <!-- NOM DE L'ANNONCE -->
          <div><h4>{{annonce.client.user.first_name}} </h4></div>
          <!-- DETAILS -->
          <div>
            <p>
              {{annonce.descriptionMaison}}
            </p>
          </div>
          <!-- LOCALITE -->
          <div>
            <p><span>Localité:</span>{{annonce.localite}} </p>
          </div>
          <!-- SUPERFICE -->
          <div>
            <p><span>Superficie:</span> {{annonce.superficie}}m²</p>
          </div>
          <!-- NOMBRE DE PIECES -->
          <div>
            <p><span>Nombre de pièces:</span> {{annonce.nbrpiece}} </p>
          </div>
          <!-- MEUBLES -->
          <div>
            <p>
              {% if annonce.meuble == True %} 
                <span>Meublé: </span>✅ 
                {% else %}
                <span>Meublé: </span>❌
                {% endif %}
            </p>
          </div>
          <!-- PRIX -->
          <div>
            <p><span>Prix:</span>{{annonce.prix}}</p>
          </div>
          <!-- PRIX -->
          <div>
            <p>
              <span>Numero Propriétaire:</span
              ><a href="tel:+225{{annonce.client.numTéléphone}}">+225{{annonce.client.numTéléphone}}</a>
            </p>
          </div>
          <!-- BOUTON POUR APPELER -->
          <div> 
            <a href=""><i class="fa-solid fa-pencil unactive"></i></a>
            <a href="/action/favoris/{{annonce.id}}/{{user.id}}"><i class="fa-solid fa-star fav unactive"></i></a>
            <!-- <a href="#"><button class="first">Favoris</button></a> -->
            <a href="/action/reserver/{{annonce.id}}/{{user.id}}"
              ><button>
                <i class="fa-solid fa-ticket"></i> &rlm; Reserver une visite
              </button></a
            >
          </div>
        </div>
      </div>
      <!-- BOX pour signaler -->
      <div class="announce-signal">
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Nem sit amet
        </p>
        <a href="/action/signaler/{{annonce.id}}/{{user.id}}"
          ><button>
            Signalez <i class="fa-solid fa-triangle-exclamation"></i></button
        ></a>
      </div>
      <!-- COMMENTAIRES -->
      <div class="announce-reviews">
        <div class="rating">
          <p>4.2/5</p>
        </div>
        <!-- LISTE DES COMMENTAIRES -->
        <div class="list">
          <!-- COMMENATIRE -->
          {% for commentaire in commentaireAffiches %}
            <div class="review">
              <div class="info">
                <img src="{% static 'img/profil-picture.jpg' %}" alt="profil-picture" />
                <p>{{commentaire.user.user.first_name}} </p>
              </div>
              <div class="message">
                <p id="afficheCommentaire">
                  {{commentaire.Description}}
                </p>
              </div>
            </div>
            {% endfor %}
         
          <!-- FORM POUR FAIRE UN COMMENTAIRE -->
          <form method="POST">
            {% csrf_token %}
            <input type="text" name="commentaire" placeholder="Entrez votre commentaire" id="commentaire" />
            <select>
              <option value="1">1</option>
              <option value="2">2</option>
              <option value="3">3</option>
              <option value="4">4</option>
              <option value="5">5</option>
            </select>
            <button type="submit" id="ajax-call">Commenter</button>
            
          </form>
        </div>
        <!-- BOUTON POUR VOIR TOUS LES COMMENTAIRES -->
      </div>
      <div class="more">
        <a href="#"><button>Voir tous les commentaires</button></a>
      </div>
    </main>

    <script>

      document.querySelector('#ajax-call').addEventListener("click", e => {
        e.preventDefault()
        let formData = new FormData()
        formData.append('commentaire', document.querySelector('#commentaire').value);
        let crsfTokenValue = document.querySelector('[name=csrfmiddlewaretoken]').value;
        const request = new Request('/action/commentaire/{{annonce.id}}/{{user.id}}', {
          method: 'POST',
          body: formData,
          headers: {'X-CSRFToken':crsfTokenValue}
        });
        
        fetch(request)
          .then(response => response.json())
          .then(result => {
            const resultElement = document.querySelector('#afficheCommentaire');
            resultElement.innerHTML = result["commentaireAffiche"];
        })

        location.reload(true)
      
      })

    </script>

{% endblock content %}