{% extends 'main.html' %}

{% load static %}

{% block title %} Mapiss | Visit 360° {% endblock title %}

{% block content %}
    <!-- MAIN -->
    <main class="visit">
      <div class="title"><h3>Visite 360°</h3></div>
      <div class="container">
        <iframe
          class="ku-embed"
          frameborder="0"
          allowfullscreen
          allow="xr-spatial-tracking; gyroscope; accelerometer"
          scrolling="no"
          src={{annonce.lienMaison}}
        ></iframe>
        <div>
          {% comment %} <a href="/action/favoris/{{annonce.id}}/{{user.id}}"><button class="first">Ajouter aux favoris</button></a> {% endcomment %}
          <a href="/annonce/{{annonce.id}}"><button class=".second">Quitter la Visite</button></a>
        </div>
      </div>
    </main>
{% endblock content %}