{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- FONT LINK -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <!-- ICON -->
    <link
      rel="shortcut icon"
      href="{% static 'img/logo-officiel-mapiss-white.svg' %}"
      type="image/x-icon"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap"
      rel="stylesheet"
    />
    <!-- ICONS LINK -->
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.2/css/all.min.css"
      integrity="sha512-1sCRPdkRXhBV2PBLUdRb4tMg1w2YPf37qatUFeS7zlBy7jJI8Lf4VHwWfZZfpXtYSLy85pkm9GaYVYMfw5BC1A=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <!-- CSS FILE -->
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <!-- TITLE -->
    <title>{% block title %}{% endblock title %}</title> 
    <!-- IMPORT JS FILE -->
    <script defer src="{% static 'js/index.js' %}"></script>
  </head>
  <body>
    <!-- INTERFACE DE LA PREMIERE PAGE DE MAPISS -->
    <header class="overview-1-header">
      <!-- NAV -->
      <nav>
        <div class="nav-logo">
          <a href="{% url 'annonces' %}">
            <img
              src="{% static 'img/logo-officiel-mapiss-white.svg' %}"
              alt="mapiss-official-logo"
              class="logo"
            />
          </a>
        </div>
        {% if user.is_authenticated %}
        
        <div class="nav-user">
          <div class="user">
            <!-- IMAGE USER -->
            <img src="{% static 'img/profil-picture.jpg' %}" alt="user-profil-picture" />
            <!-- USERNAME -->
            <p> {{ user.first_name }} </p>
            <!-- ICON -->
            <i class="fa-solid fa-angle-down deroulant"></i>
          </div>
          <!-- ICON POUR HISTORIQUE -->
          <div class="nav-user-history">
            <a href="/action/reservationAfficher/{{ user.id }}"><i class="fa-solid fa-clock-rotate-left"></i></a>
          </div>
          <!-- ICON POUR FAVORIS -->
          <div class="nav-user-fav">
            <a href="/action/favoris/{{ user.id }}"><i class="fa-solid fa-bookmark"></i></a>
            <!-- NOMBRE D'ELEMENTS DANS LES FAVORIS -->
            <!-- <div>{{favoris.length}} </div> -->
          </div>
          <!-- MENU DEROULANT -->
          <div class="menu none">
            <!-- LES ANNONCES DU USER -->
            <a href="/action/annonceAfficher/{{ user.id }}"
              ><p><i class="fa-solid fa-newspaper"></i> Mes Annonces</p></a
            >
            <!-- PARAMETRES DE L'USER -->
            <a href="#"><p><i class="fa-solid fa-gear"></i> Mes Parametres</p></a>
            <!-- SE DECONNECTER -->
            <a href="{% url 'deconnexion' %}">
              <p style="color: red">
                <i class="fa-solid fa-power-off"></i> Se Deconnecter
              </p>
            </a>
          </div>

        {% else %}
          <div class="nav-btn">
            <a href=" {% url 'connexion' %} "><button class="nav-btn-1">Connexion</button></a>
            <a href="{% url 'inscription' %} "><button class="nav-btn-2">Inscription</button></a>
          </div>
        {% endif %}

      </nav>
      <!-- DIV POUR TEXTE -->
      <div class="overview-1-header_text">
        <h1>Trouver votre maison idéale en un clic !</h1>
        <p>
          Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse
          reprehenderit ad culpa minima
        </p>
      </div>
    </header>

    {% block content %}{% endblock content %}

    <footer>
      <div class="contacts">
        <p>Contacts</p>
        <a href="tel:+2250767730458"
          ><i class="fa-solid fa-phone"></i> +225 0123456789</a
        >
        <a href="mailto:services@banane.ci"
          ><i class="fa-solid fa-envelope"></i> services@banane.ci</a
        >
      </div>
      <div class="partenaire">
        <p>Partenaire(s)</p>
        <img src="{% static 'img/Moov_Africa_logo.png' %}" alt="logo-partenaires" />
      </div>
      <div class="Newletters">
        <p>Newletters</p>
        <form action="#">
          <input placeholder="E-mail" type="email" name="#" />
          <button type="submit">Souscrire</button>
          <p>
            Lorem ipsum dolor sit, amet consectetur adipisicing elit. Iusto et
            adipisci praesentium placeat id
          </p>
        </form>
      </div>
    </footer>
  </body>
</html>
